.auth__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Reduz a altura disponível do container, considerando a altura do navbar */
  background-color: white;
  padding-top: 20px; /* Adiciona um pequeno padding no topo para afastar o form do navbar */
}

.auth__box {
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  background-color: white;
  overflow: hidden;
}

.auth__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.auth__form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth__form input {
  margin: 10px 0;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1.5px solid rgb(230, 232, 236);
}

.auth__options {
  display: flex;
}

.auth__options button {
  width: 50%;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.auth__options .active {
  background-color: rgb(108, 115, 148);
  color: white;
}

.create {
  margin-top: 10px;
  border: 1.5px solid rgb(108, 115, 148);
  color: rgb(108, 115, 148);
  text-transform: uppercase;
}

.create:hover {
  background-color: rgb(131, 138, 172);
  color: white;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

