.sidebar {
  width: 200px;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.logo__sidebar {
  width: 150px;
}

.ul__sidebar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre ícone e texto */
  cursor: pointer;
  padding: 10px;
  color: #333;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #ddd;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre ícone e texto */
  cursor: pointer;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  width: 90%;
}

.logout:hover {
  background-color: #ddd;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  color: inherit;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}
